*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  width:auto;
  margin: 0;
  /* overflow: hidden; */

}

.banner{
  background-size: 100% 800px;
  background-image:url(helping.banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 20px;
  overflow: hidden;
}
p{
  padding-top: 100px;
  text-align: center;
  color: rgb(222, 33, 33);

}
h2{
  text-align: center;
  color: white;
}
span{
  color: red;
  font-weight: bold;

}
button{
  padding:10px 20px;
  background-color: crimson;
  color: white;
  border-radius: 3px;
  margin-left:45%;
}
h3{
  text-align: center;
  color: red;
  font-size: 24px;
  margin-top: 40px;
}
second-part{
  text-align: center;
  margin-top: 5px;
}
.balance{
  display: flex;
  align-items: center;
  margin-left: 450px;
  margin-top: 0;
}
.amount{
  padding:40px;
  border: 3px solid rgb(72, 211, 72);
  color: black;
  margin-left: 40px;
  background-color:white;
  color: tomato;
}
.other-amount{
  border-bottom: 1px dashed black o.3;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
}
h4{
  margin-top: 20px;
  color: green;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}
.main{
  display: flex;
  align-items: center;
  padding-right: 30px;
  background-color: aliceblue;
}
.food,.shelter,.education{
 width: 200px;
 height: 200px;
 color: black;
 border: 3px solid red;
 padding-right: 40px;
 margin-left: 190px;
 text-align: center;
 
}
.fa-bowl-rice,.fa-house{
font-size: 35px;
text-align: center;
}
.fa-book-blank{
  font-size: 40px;
}
#meal{
  background-color: aquamarine;
}
#home{
  background-color: bisque;
}
#edu{
  background-color: cornflowerblue;
}
h5{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.box-text{
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.event-text{
  margin-top: 5px;
  color:black;
  font-size: 20px;
  text-transform: capitalize;
}
.event-date{
  border:2px solid green;
  background-color: rgb(245, 243, 243);
  width:50%;
  height:380px;
  text-align: center;
  margin-left: 25%;
}
.left-div{
  display:flex;
  width: 50%;
}
.day,.hour,.miniute,.sec{
  width:100px;
  height: 80px;
  border: 3px solid rgb(0, 106, 255);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgb(0, 170, 255);
  margin-left:115px;
  font-size: bold;
  text-align: center;
  font-style: italic;
}
span{
  color: red;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#foodimg{
  height: 380px;
  width:50%;

}

.section-four{
width: 400px;
height: 180px;
border: 3px solid pink;
background-color: ghostwhite;
text-align: center;
margin-left: 38%;
margin-top: 20px;
}
h6{
  font-size: 20px;
  color: green;
}

.form-data{
  text-align: center;
}
input{
  width:300px;
  height: 15px;
  color: green;
  
}
footer{
  background-color: black;
  width:100%;
  height: 200px;
  text-align: center;
}
.footer-text{
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
}